.loader-container{
    width: 100px;
    display: flex;
    justify-content: center;
    height: 1.125rem;
    align-items: center;
}



.loader-container  > div {
    width: 8px;
    height: 8px;
    background-color: #AAAAAA;
    border-radius: 100%;
    display: inline-block;
    margin-right: 3px;
    animation: dotdelay 1.4s infinite ease-in-out both;

}

.loader-container .dot1 {
    animation-delay: -0.32s;
}

.loader-container .dot2 {
    animation-delay: -0.16s;
}


@keyframes dotdelay {
     0%, 100%{
         transform: scale(0);
     }
     50% {
         transform: scale(1.0);
     }
 }




