.chatbot-container {
    height: var(--chatbot-container-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--wide-spacing);
    box-sizing: border-box;
}

.chat-content {
    min-height: 0;
    overflow: scroll;
}

.chat-content > div {
    flex-shrink: 0;
}

